<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @interviewer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @interviewer.email %>
</p>

<p>
  <b>Position:</b>
  <%= @interviewer.position %>
</p>

<p>
  <b>Encrypted password:</b>
  <%= @interviewer.encrypted_password %>
</p>


<%= link_to 'Edit', edit_interviewer_path(@interviewer) %> |
<%= link_to 'Back', interviewers_path %>
